@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-image: url(https://www.youtube.com/watch?v=QBX8NZpBbd0); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: white;
}

.video-background iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}